.container {
    width: 530px;
    margin: auto;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    
}

.headerTitle{
    margin: 0 0 35px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: hsl(221, 39%, 11%);
}

/* Bu kısım görseldeki beyaz kartı oluşturacak. */